*.class
*.iml

# Package Files #
*.war
*.ear

# IDEA config files
.pg/
.idea/
!.idea/codeStyles/

.gradle/

# builds
build/
out/

# Mac OS X files
.DS_Store

__pycache__/
.pytest_cache/

lombok.config
/.idea/
